*, *::before, *::after {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1E1E1E;
	color: white;
	max-width: 70vw;
	margin: auto;
	font-size: 3rem;
}

.container {
	width: auto;
	padding: 100px;
	margin: 200px;
	border: 1px solid white;
}
span {
	color: darksalmon;
}