:root {
	--max-width: 1024px;
	--border-color: #101010;
	--border-radius: 10px;
	font-family: "tahoma", sans-serif;
}
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #1E1E1E;
	color: white;
	width: 100%; max-width: var(--max-width);
	margin: auto;
	/*margin-top: clamp(0px, calc(50vw - 450px),200px);*/
	padding: 10px;
	font-size: 2.5rem;
}

.hero {
	border: 1px solid #101010;
	padding: 10px 20px;
}
.hero span {color: darksalmon;}



.card-container-A {
	--container-A-width: 100%;
	margin-top: 40px;
	border: 1px solid var(--border-color);
	display: flex; flex-flow: wrap;
	gap: 5px;
	padding: 10px;
	width: var(--container-A-width);
}
.card-A {
	flex-grow: 1;
	font-size: 1.2rem;
	min-width: min(260px,var(--container-A-width));
	/*width: 100%; max-width: 400px;*/
	padding: 10px 15px;
	color: white;
	background-color: black;
	border-radius: var(--border-radius);
}