*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}
@font-face {font-family: 'inter-light'; src: url(assets/fonts/Inter-Light.ttf) format('truetype');}
@font-face {font-family: 'inter-regular'; src: url(assets/fonts/Inter-Regular.ttf) format('truetype');}
@font-face {font-family: 'inter-medium'; src: url(assets/fonts/Inter-Medium.otf) format('opentype');}
@font-face {font-family: 'inter-bold'; src: url(assets/fonts/Inter-Bold.ttf) format('truetype');}
:root {
	--max-width: 50rem;
	--min-width: 18rem;
	--col-linkA: #FFFFFF;
	--col-linkB: #262932;
	--col-linkC: #7A89AD;
	--col-linkD: #3E4660;
	--col-linkE: #1D1D1D;
	--bd-radA: .375rem;
	--bd-radB: .75rem;
}

html {background: linear-gradient(180deg, #161616, #202020); color: #FFFFFF; font-family: inter-light, calibri; padding: 1.5rem .75rem; min-height: 100vh;}
body {display: flex; flex-direction: column; gap: .75rem; justify-content: center; max-width: var(--max-width); margin: auto;}
h1 {font-family: inter-regular, calibri; font-weight: normal;}
h3 {font-family: inter-medium; font-size: 1rem; font-weight: normal;}
h4 {font-family: inter-regular, calibri; font-weight: normal;}
a {display: inline-block; text-decoration: none; color: var(--col-linkC);}
/*a.active {color: var(--col-linkB); background-color: var(--col-linkA); font-family: inter-regular;}*/
b {font-family: inter-medium;}
img {display: block;}
input {border: none;}
input:focus {border: none; outline: 1px solid var(--col-linkB);}
input::placeholder {color: var(--col-linkD);}

.center {text-align: center;}
.colA {color: var(--col-linkA);} .colB {color: var(--col-linkB);} .colC {color: var(--col-linkC);}

.social-links-container {display: flex; justify-content: center; gap: .25rem;}
.social-links-container * {transition: all ease .15s;}
.social-links-container a {aspect-ratio: 1/1; min-width: 2.5rem; width: fit-content; align-content: center;}
.social-links-container a:hover {background-color: #282828; border-radius: .75rem;}
.social-links-container img {margin: auto;}
.social-links-container a:hover img {transform: scale(1.15);}

h4.hero {margin: 1.5rem 0rem;}

.category-tabs {display: flex; gap: .375rem; flex-wrap: wrap; justify-content: center;}
.category-tabs * {padding: .5rem 1rem; min-height: 2.5rem; background-color: var(--col-linkB); border-radius: var(--bd-radA); align-content: center;}
.category-tabs input {flex: 1; background-color: #202020; color: var(--col-linkA); padding: .5rem .7rem; min-width: var(--min-width);}
.category-tabs a.active {color: var(--col-linkB); background-color: var(--col-linkA); font-family: inter-regular;}

.component-container {display: flex; flex-direction: column; gap: .25rem; padding: .75rem; background-color: var(--col-linkB); border-radius: var(--bd-radA);}
.component-container > :first-child {margin-bottom: .5rem;}
.component-container a {padding: .5rem 1rem; font-size: .875rem; background-color: var(--col-linkE); color: var(--col-linkD);}
.component-container a.active {background-color: var(--col-linkA); color: var(--col-linkE); font-family: inter-regular; font-weight: normal;}
.component-preview-container {position: relative;}
.component-preview {
	/*display: flex; justify-content: center; align-content: center; align-items: center;*/
	/*resize: horizontal; overflow: hidden; width: 100%; max-width: 100%; padding: 1.5rem 1rem; background-color: var(--col-linkE); margin: auto; margin-bottom: .5rem; border-radius: var(--bd-radA);*/
}
iframe {
	background-color: var(--col-linkE); margin: auto; width: 100%; border: none; outline: none; height: 300px;
}
.component-code-block {background-color: var(--col-linkE); padding: 1rem; border-radius: var(--bd-radA); white-space: pre; overflow-x: scroll; font-size: .875rem;}


div.code-block {overflow-x: scroll;}
