<body>
<div class="container">
	<a class="item">Grid Item A<span class="description">Description of the Item.</span></a>
	<a class="item">Grid Item B<span class="description">Description of the Item.</span></a>
	<a class="item">Grid Item C<span class="description">Description of the Item that is slightly longer.</span></a>
</div>
</body>

<style>
*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}
body {width: 100%; min-width: fit-content;}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	gap: .375rem;
	padding: .375rem;
	background-color: #191919;
	border: 1px solid #202020;
}
.item {
	display: flex;
	flex-direction: column;
	gap: .25rem;
	border: 1px solid #262626;
	padding: 2rem 1rem;
	color: #bebebe;
	background: linear-gradient(180deg, rgba(0,0,0,.95), rgba(0,0,0,.75)), url('https://picsum.photos/400/300');
	background-size: cover;
	transition: all ease-in-out .15s;
}
.item:hover {
	cursor: pointer;
	border-color: white;
	background: linear-gradient(180deg, rgba(0,0,0,.7), rgba(0,0,0,.5)), #FF3F3F;
	color: white;
}
.description {
	color: #909090;
	font-size: .875rem;
}
</style>